__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env
*.log
.git/
.gitignore
.idea/
.vscode/
.DS_Store
**/.DS_Store
*.md
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.eggs/
public/
uploads/
